page-speaker-details {

    .item-profile {
        width: 100%;
      //  background-position: center center;
        background-size: cover;
        height: 250px;
       
      }

      .bg{
        
        background-size: cover;
        background-repeat: no-repeat;
      
      }

       img{
        height: 120px;
        
        border-radius: 50%;
    
      } 

      #jj {
        width: 40%;
        margin-left:30%;
        // height: 100px;
      } 

      .transparent{
     
    }
    .xxx{
      
      color: white;
      width: 35%;
   
    }

    .transparent2{
        background-color: rgba(0, 37, 63,0.3);
        color: white;
    }

    ion-title{
      margin-right: 20%;
  }



}

.item-md p{
  color: white;
}
