<ion-header>

  <ion-navbar text-center>
    <ion-title>Delegate Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content  padding>
    <div class="xxx">
        <ion-avatar>
            <img src="{{ xx.imageurl }}">
        </ion-avatar>
      </div>
       






  <div >
      <ion-item style="background-color: transparent"  no-lines>
          <ion-label style="color:#adaaaa;width:20%;font-size: 80%;"> Name</ion-label>

      </ion-item>
      <p padding style="color:#00b7ff;font-size: 110%;width:75%;margin-bottom: -20px;margin-top: -20px">{{ xx.firstName }} {{ xx.lastName }}</p>
      <ion-item *ngIf="xx.gender" style="background-color: transparent"  no-lines>
          <ion-label style="color:#adaaaa;width:20%;font-size: 80%;"> Gender</ion-label>

      </ion-item>
      <p padding style="font-size: 90%;width:75%;margin-bottom: -20px;margin-top: -20px">{{xx.gender | titlecase}}</p>
      <ion-item *ngIf="xx.position" style="background-color: transparent"  no-lines>
          <ion-label style="color:#adaaaa;width:20%;font-size: 80%;"> Position</ion-label>
        
      </ion-item>
      <p padding style="font-size: 100%;width:75%;margin-bottom: -20px;margin-top: -20px">{{xx.position}}</p>
      <ion-item *ngIf="xx.company" style="background-color: transparent"  no-lines>
          <ion-label style="color:#adaaaa;width:20%;font-size: 80%;"> Company</ion-label>
     
      </ion-item>
      <p padding style="font-size: 100%;width:75%;margin-bottom: -20px;margin-top: -20px" >{{ xx.company }}</p>

  
      <br>
    </div>

    <div >
        <ion-item *ngIf="xx.email" style="background-color: transparent"  no-lines>
            <ion-label style="color:#adaaaa;width:20%;font-size: 80%;"> Email</ion-label>
     
        </ion-item>
        <p padding style="font-size: 90%;width:75%;margin-bottom: -20px;margin-top: -20px">{{xx.email }}</p>
        <ion-item *ngIf="xx.phone" style="background-color: transparent"  no-lines>
            <ion-label style="color:#adaaaa;width:20%;font-size: 80%;"> Phone</ion-label>
        
        </ion-item>
        <p padding style="font-size: 90%;width:75%;margin-bottom: -20px;margin-top: -20px">{{xx.phone }}</p>
      
        <br>
      </div>

  <div style="border-radius:10px;" class="transparent">

  
    <ion-item *ngIf="xx.website" style="background-color: transparent" no-lines>
      <ion-label style="color:#adaaaa;width:25%;">Website</ion-label>
      
    </ion-item>
    <p padding style="color:white;font-size: 90%;width:75%;margin-bottom: -20px;margin-top: -20px">{{  xx.website }}</p>



    <!-- <ion-item  style="background-color: transparent;font-size: 150%;" (click)="edit6()" no-lines>
      <ion-icon *ngIf="xx.twitter" style="margin-right:20px;" name="logo-twitter"></ion-icon>
      <ion-icon *ngIf="xx.linkedin" style="margin-right:20px;" name="logo-linkedin"></ion-icon>
      <ion-icon *ngIf="xx.facebook" style="margin-right:20px;" name="logo-facebook"></ion-icon>

    </ion-item> -->

    
    



    <!-- <br> -->
  
      <!-- <button ion-button color="secondary" (click)="sendNotification(xx.id,xx.fcmtoken)">
        Request Contact
      </button> -->
  
  </div>


</ion-content>