page-about {

    .bg{
        
        background-size: cover;
        background-repeat: no-repeat;
      
      }

      .transparent{
        background-color: #049cd8ef;
        padding: 10px;
    }

    .transparent2{
        background-color: rgba(0, 37, 63,0.3);
        color: white;
    }

    #jj img{
        height: 80px;
      } 

      #jj {
        width: 40%;
        margin-left:30%;
        // height: 100px;
      } 

}
