page-about {

    .bg{
        
        background-size: cover;
        background-repeat: no-repeat;
      
      }

      .transparent{
        
        padding: 10px;
        font-size: 110%;
    }

    .transparent2{
        background-color: rgba(0, 37, 63,0.3);
        color: white;
    }
    h1{
      color:#049cd8;
    }

    #jj img{
        height: 80px;
      } 

      #jj {
        width: 40%;
        margin-left:30%;
       
      } 

}
