page-schedule-details {

    .item-profile {
        width: 100%;
      //  background-position: center center;
        background-size: cover;
        height: 250px;
       
      }

      .bg{
        
        background-size: cover;
        background-repeat: no-repeat;
      
      }

      #jj img{
        height: 120px;
      } 

      #jj {
        width: 40%;
        margin-left:30%;
        // height: 100px;
      } 

      .transparent{
        background-color: #00b7ff60;
    }

    .transparent2{
        background-color: rgba(0, 37, 63,0.3);
        color: white;
    }

    .transparent3{
        background-color: rgba(0, 0, 0, 0);
    }
    

}
