
<ion-header>

  <ion-navbar  class="transparent">
      <button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title text-center><ion-icon name="time"></ion-icon>{{ xx.time }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content  padding>
    

 
  <div padding>
  <h2>{{ xx.title }}</h2>
 
  </div>
  <div style="border-radius:10px;" class="transparent" padding>
    <div *ngIf="xx.details">
  <h3  style="color:#00b7ff;">Details</h3>
  <p>{{xx.details}}</p>
</div>
  <h3 style="color:#00b7ff;">Speakers</h3>
  <ion-item no-lines class="transparent3" *ngFor="let speaker of generateArray(xx.speakers)" (click)="openItem(speaker,'SpeakerDetailsPage')">
    <ion-avatar item-start>
     <img src="{{ speaker.imageurl }}">
    </ion-avatar>
    <h2>{{ speaker.name }}</h2>
    <p style="color:#00b7ff;">{{ speaker.info }}</p>
    <p style="color:#00b7ff;">{{ speaker.company }}</p>
    

 
  
  </ion-item>
<!-- <div  *ngIf="xx.attachment" >
  <h3 style="color:#00b7ff;">Resources</h3>
    
    <ion-item no-lines class="transparent3">
      <p>Attachment</p>
      
      <button (click)="openFile(xx.attachment.url)" ion-button item-right small round>View</button>
      

    </ion-item>
  </div> -->
  

</div>


</ion-content>
