page-login {

    
.bg{
    
    background-size: cover;
    background-repeat: no-repeat;
  
  }

  #jj img{
    height: 80px;
  } 

  #jj {
    margin-top:30%;
    margin-left:30%;
  } 
  ion-input{
  //  border: 1px solid #00b7ff21
  }
  .item-md{
    background-color: #40718500;
  }
  
}
