page-item-detail {

  .logo img{
    height: 150%;
    // width: 
  }

  .logo{
    // background-color: blue;
    
  }
  
 

  .item-profile {
    width: 100%;
  //  background-position: center center;
    background-size: cover;
    height: 250px;
   
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }

  ion-title{
    color:white;
  }




#jj img{
  // border-radius: 50%;
  height: 50px;

  // margin-left: 15px;



     
} 

.artName{
  font-size: 10px;

  height: 25%;
  margin-top:10px;
}

.bg{
  
  background-size: cover;
  background-repeat: no-repeat;

}



#jjj img{
  // height: 120px;
} 

#jjj {
  width: 40%;
  margin-left:30%;
  margin-bottom:1%;
  // position: absolute;
  // height: 100px;
} 
}



ion-page.item-detail{
  
}

ion-page.item-detail>ion-content{
  background-color: transparent;
}