page-exhibitors-details {

    .bg{
        
        background-size: cover;
        background-repeat: no-repeat;
      
      }

      #jj img{
        height: 120px;
      } 

      #jj {
        width: 40%;
        margin-left:30%;
        // height: 100px;
      } 


      .transparent{
        background-color: rgba(0, 0, 0, 0.61);
    }

    .transparent2{
        background-color: rgba(0, 37, 63,0.3);
        color: white;
    }
    ion-title{
      margin-right: 20%;
  }
}
