
<ion-header>

    <ion-navbar text-center>
      <ion-title><span style="font-weight:900;">Pitch</span> Competition</ion-title>
    </ion-navbar>
  
  </ion-header>


<ion-content  padding>
    
      

   

      <div >
          <h3 style="color:#00b7ff;">General Rules</h3>
          <ul class="listStyle">

            <li *ngFor="let a of rules | async "><p>{{a.details}}</p></li>
           
          </ul>

          <h3 style="color:#00b7ff;">Guidelines</h3>

          <ul class="listStyle">
            <li *ngFor="let a of guide | async "><p>{{a.details}}</p></li>
    
      
           
    
          </ul>


          <h3 style="color:#00b7ff;">How to Apply</h3>
          <ul class="listStyle">
              <li *ngFor="let a of apply | async "><p>{{a.details}}</p></li>
          </ul>

          <h3 style="color:#00b7ff;">Registration Deadline </h3>
         
            <p>Monday 25th February 2019</p>
            
          

          <h3 style="color:#00b7ff;"> Conference Date</h3>
          <p>Tuesday 5th March 2019</p>
        <br>
      </div>
      <div style="border-radius:10px;" class="transparent" padding>
  
      <p></p>

      <br>
      
      
    </div>

    
</ion-content>
