page-notify {

  .bg{
    
    background-size: cover;
    background-repeat: no-repeat;
  
  }
    .even{
        background-color: rgb(88, 90, 117);
      }
      .odd{
        
        background-color: #2c456d;
      }

      .card-md p {
        color: white;
    }

}
