


<ion-content >

  <div *ngIf="tweets">
  <div >
  

    <div *ngSwitchCase="'social'" >
      <ion-card *ngFor="let item of tweets.statuses">

        <ion-item>
          <ion-avatar item-start>
            <img [src]="item.user.profile_image_url">
          </ion-avatar>
          <h2>{{item.user.name}} </h2>
          <p>@{{item.user.screen_name}}</p>
          <p>{{tweetTime(item.date) | date:'mediumDate'}}</p>
        </ion-item>
    
        
    
        <ion-card-content>
          <p>{{item.full_text}}</p>
        </ion-card-content>
       
        <ion-row>
       
          <ion-col>
            <button ion-button color="primary" clear small icon-start>
              <ion-icon name="repeat"></ion-icon>
              {{item.retweet_count}} Retweets
              </button>
          </ion-col>
          <!-- <ion-col>
            <button ion-button color="primary" clear small icon-start>
              <ion-icon name="heart"></ion-icon>
              {{item.favourites_count}} Favourites
              </button>
          </ion-col> -->
          <!-- <ion-col center text-center>
            <ion-note>
              11h ago
            </ion-note>
          </ion-col> -->
        </ion-row>
      </ion-card>
      
    </div>








  </div>

</div>


  

</ion-content>


