page-home {

  
    .dx{
        width: 90%;
        margin-left: 5%;
        margin-top: 10px;
    }
    
   

    .segment-ios .segment-button.segment-activated {
        color: white;
        background-color:  rgb(74, 140, 245);
    }

   

      .transparent{
        background-color: #75a6f5a1;
        color: white;
    }

    .transparent2{
     
        color: white;
    }

    .transparent2 h2{
        color: white;
    }
    .card-md p {
        color: white;
    }

    .item-md.item-block .item-inner{
        border-bottom: 1px solid #00b7ff;

    }

    ion-badge {
		// position: absolute;
		// top: -0.2rem;
		// right: -0.2rem;
        opacity: 0.6;
        
    }

    .compose-post-area{
        display: flex;
        align-items: center;
    }

    .card-md h2{
        color:white;
    }

.card-md{
    background: transparent;
}
.item-md{
    background: transparent;
}


















}
