// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.toolbar-background{
    background-color:#049cd8;
    color:white;
}

.tabs-md-secondary .tab-button:hover:not(.disable-hover),
.tabs-md-secondary .tab-button[aria-selected=true],
.tabs-md-secondary .tab-button[aria-selected=true] .tab-button-icon {
    color:  rgb(0, 37, 63);
  background-color:white;

}

$text-input-highlight-color-valid:transparent;
$text-input-highlight-color-invalid:transparent;


.toolbar .searchbar-ios .searchbar-input {
    background: white;
}


.toolbar .searchbar-md .searchbar-input {
    background: white;
}
.searchbar-ios.searchbar-left-aligned .searchbar-search-icon {
    display: none;
}

.searchbar-md.searchbar-left-aligned .searchbar-search-icon {
    display: none;
}


ion-content {
    background-image: url('../assets/img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}