page-speakers {

    .bg{
        
        background-size: cover;
        background-repeat: no-repeat;
      
      }

    .transparent{
        background-color: rgba(0, 0, 0, 0.21);
    }

    

    .transparent2{
        background-color: rgba(0, 37, 63,0.3);
        color: white;

        
    }
    .transparent p{
       

        color:#00b7ff;
    }


    ion-title{
        margin-right: 20%;
    }

    .even{
        background-color: rgb(88, 90, 117);
      }
      .odd{
        
        background-color: #2c456d;
      }

   
}
